printer/data/.flows.json.backup
[
    {
        "id": "0e1258dcaa4646a3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c1a743fbe5ebc64c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.docker.local",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0df5d573c269e3d7",
        "type": "mqtt-broker",
        "name": "IP",
        "broker": "10.247.6.32",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a151743b44755c44",
        "type": "mqtt in",
        "z": "0e1258dcaa4646a3",
        "name": "Print Message",
        "topic": "print/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c1a743fbe5ebc64c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "0709f1f4d0635cd6",
                "cbddd9f859fac766"
            ]
        ]
    },
    {
        "id": "0709f1f4d0635cd6",
        "type": "debug",
        "z": "0e1258dcaa4646a3",
        "name": "Input Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "0843218562606a96",
        "type": "exec",
        "z": "0e1258dcaa4646a3",
        "command": "python3 /code/print.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "676ca53740426dc7"
            ],
            [
                "676ca53740426dc7"
            ],
            [
                "676ca53740426dc7"
            ]
        ]
    },
    {
        "id": "676ca53740426dc7",
        "type": "debug",
        "z": "0e1258dcaa4646a3",
        "name": "Python Code",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 80,
        "wires": []
    },
    {
        "id": "cbddd9f859fac766",
        "type": "function",
        "z": "0e1258dcaa4646a3",
        "name": "JSONify",
        "func": "var inputData = msg.payload;\nmsg.payload = \"'\" + JSON.stringify(inputData) + \"'\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 180,
        "wires": [
            [
                "0843218562606a96",
                "bcfbcaa8b1f131da"
            ]
        ]
    },
    {
        "id": "bcfbcaa8b1f131da",
        "type": "debug",
        "z": "0e1258dcaa4646a3",
        "name": "Function payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "dfa2b69531797fd9",
        "type": "exec",
        "z": "0e1258dcaa4646a3",
        "command": "pip3 list",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "d697b7a169ac3fed"
            ],
            [
                "d697b7a169ac3fed"
            ],
            [
                "d697b7a169ac3fed"
            ]
        ]
    },
    {
        "id": "6f49a3aa3c27526d",
        "type": "inject",
        "z": "0e1258dcaa4646a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 580,
        "wires": [
            [
                "1ec791e9025aa134"
            ]
        ]
    },
    {
        "id": "d697b7a169ac3fed",
        "type": "debug",
        "z": "0e1258dcaa4646a3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 600,
        "wires": []
    },
    {
        "id": "1ffa6d3ea5883303",
        "type": "debug",
        "z": "0e1258dcaa4646a3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 340,
        "wires": []
    },
    {
        "id": "1ec791e9025aa134",
        "type": "exec",
        "z": "0e1258dcaa4646a3",
        "command": "pip3 uninstall barcode",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "d697b7a169ac3fed"
            ],
            [
                "d697b7a169ac3fed"
            ],
            [
                "d697b7a169ac3fed"
            ]
        ]
    },
    {
        "id": "42f03d92267e6f3a",
        "type": "inject",
        "z": "0e1258dcaa4646a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 660,
        "wires": [
            [
                "dfa2b69531797fd9"
            ]
        ]
    },
    {
        "id": "87cffc42795021f2",
        "type": "inject",
        "z": "0e1258dcaa4646a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"timestamp\":\"2024-02-29T09:49:20+00:00\",\"id\":\"line_1\",\"labelItems\":[{\"labelKey\":\"123\",\"labelValue\":\"456\",\"labelType\":\"barcode\"},{\"labelKey\":\"789\",\"labelValue\":\"101\",\"labelType\":\"text\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "1ffa6d3ea5883303",
                "cbddd9f859fac766"
            ]
        ]
    },
    {
        "id": "dcce2c72ccdca2ea",
        "type": "inject",
        "z": "0e1258dcaa4646a3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 500,
        "wires": [
            [
                "a567a03fd698beaa"
            ]
        ]
    },
    {
        "id": "a567a03fd698beaa",
        "type": "exec",
        "z": "0e1258dcaa4646a3",
        "command": "whoami",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 260,
        "y": 500,
        "wires": [
            [
                "d697b7a169ac3fed"
            ],
            [
                "d697b7a169ac3fed"
            ],
            [
                "d697b7a169ac3fed"
            ]
        ]
    }
]